@font-face {
	font-family: "Anton-Regular";
	font-weight: 400;
	src: url(../fonts/Anton-Regular.ttf);
}
@font-face {
	font-family: "Icon-Solid";
	src: url(../fonts/fa-solid-900.ttf);
}

:root {
	--anton: "Anton-Regular";
	--icsol: "Icon-Solid";
}

* {
	margin: 0;
	padding: 0;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
html,
body {
	height: 100%;
}
html {
	scroll-behavior: smooth !important;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
video {
	display: block;
	max-width: 100%;
	width: 100%;
}
input,
textarea,
button,
select {
	font: inherit;
}
p,
a {
	color: var(--white);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

.container {
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.header {
	background: transparent;
	position: relative;
	z-index: 100;
	padding: 50px 0;
	width: 100%;
}
.header__btn {
	position: fixed;
	z-index: 10;
	left: 5px;
	top: 5px;
	font-family: var(--icsol);
	display: none;
}
.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__nav-wrap {
	display: flex;
	align-items: center;
}
.header__logo-img {
	width: max-content;
}
.header__list {
	display: flex;
	margin-left: 50px;
}
.header__list li {
	margin-left: 40px;
}
.header__list-link {
	font-family: var(--anton);
	color: #fff;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
}


/* intro */

.intro {
	margin-top: -150px;
	min-height: 800px;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
}
.intro__content {
	position: relative;
	display: flex;
	align-items: center;
	flex-grow: 1;
}
.intro__img {
	position: absolute;
	height: 100%;
}
.intro__content span {
	font-family: var(--anton);
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.intro__content h1 {
	font-family: var(--anton);
	font-weight: 400;
	font-size: 100px;
	line-height: 151px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.intro__content button {
	border: 1px solid #FFFFFF;
	font-family: var(--anton);
	font-weight: 400;
	font-size: 17px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 20px 25px;
	background: transparent;
}


.about {
	margin-top: 100px;
}
.about-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
}
.about__title {
	grid-column: span 12;
	color: #000000;
	font-size: 50px;
	line-height: 60px;
	text-transform: uppercase;
	font-family: var(--anton);
	margin-bottom: 50px;
}
.about__reb {
	grid-column: span 6;
	margin-right: 15px;
}
.about__this {
	grid-column: span 6;
	margin-left: 15px;
}
.about__reb span,
.about__this span {
	font-size: 25px;
	line-height: 30px;
	text-transform: uppercase;
	font-family: var(--anton);
	color: #000000;
}
.about__reb p,
.about__this p {
	margin-top: 20px;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	text-align: justify;
	font-family: var(--anton);
	height: 200px;
}
.about__img-wrap {
	display: flex;
	justify-content: space-between;
}
.about__img-wrap img {
	max-width: 270px;
	width: 100%;
}

.about__text {
	color: #000000;
	font-size: 25px;
	line-height: 230px;
}

/* Адаптация под мобильные устройсва */

@media(max-width: 1170px) {
	.intro__content .container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.about__title {
		text-align: center;
	}
	.about__reb {
		grid-column: span 10/12;
		margin-bottom: 30px;
		margin-right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.about__this {
		grid-column: span 10/12;
		margin-top: 50px;
		margin-left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.about__reb span, 
	.about__this span {
		text-align: center;
	}
	.about__reb p,
	.about__this p {
		height: max-content;
		margin-bottom: 40px;
		text-align: center;
	}
	.about__img-wrap {
		justify-content: space-around;
	}
	.about__text {
		text-align: center;
	}
}

@media(max-width: 768px) {
	.intro {
		min-height: 550px;
	}
	.intro__content h1 {
		font-size: 50px;
		line-height: 80px;
	}
	.intro__content span {
		letter-spacing: 1px;
	}
	.about__reb {
		grid-column: span 12;
	}
	.about__this {
		grid-column: span 12;
	}
}

@media(max-width: 620px) {
	.header {
		padding-top: 20px;
	}
	.header__nav {
		flex-direction: column;
	}
	.header__list {
		margin-left: 0;
	}
	.intro {
		margin-top: -170px;
	}
	.intro__content .container {
		margin-top: 100px;
	}
	.about__title {
		font-size: 35px;
	}
	.about__img-wrap {
		flex-direction: column;
		align-items: center;
	}
	.about__img-wrap img:first-child {
		margin-bottom: 30px;
	}
}

@media(max-width: 620px) {
	.intro {
		min-height: 450px;
	}
	.intro__content .container {
		margin-top: 150px;
	}
	.intro__content span {
		font-size: 26px;
		line-height: 1;
	}
	.intro__content h1 {
		font-size: 40px;
		line-height: 60px;
	}
	.intro__content button {
		font-size: 15px;
		line-height: 20px;
		padding: 15px 20px;
	}
}